Body {
	 Font-Size: 14px;
	 Font-Family: "Times New Roman", serif;
	 Color: black;
	 Background-image: url("../images/pattern1.png");
}

.content {
	margin: auto;
	max-width: 980px;
	background: #ffffff;
}

h1 {
	Font-Size: 50px;
   Font-Family: Arial, Helvetica, sans-serif;
   Text-transform: uppercase;
   color: #FFFFFF;
   padding-top: 3px;
}

h2 {
	Font-Size: 18px;
	Text-Transform: uppercase;
	Font-Family: cursive, Helvetica, sans-serif;
	padding-bottom: 23px;
}

h1, h2 {
	background: #f0776e;
}

h3 {
	font-family: cursive;
	text-decoration: underline;
	font-size: 18px;
	padding-bottom: 10px;
	padding-top: 15px;
	text-transform: uppercase;
}

p {
	padding-bottom: 12px;
}

h4 {
	font-family: cursive;
	text-decoration: underline;
	font-size: 18px;
	padding-bottom: 10px;
	text-transform: uppercase;
}

h1, h2, p, h3, h4 {
	padding-left: 12px;
}

.pics {
	text-align: center;
	padding-bottom: 18px;
}

.pics img {
	display: inline-block;
	width: 0 auto;
	border: 5px solid #cccccc;
}

footer {
	background: #f0776e;
	text-align: right;
	color: #ffffff;
	padding-bottom: 25px;
	padding-top: 8px;
	padding-right: 10px;
}